/*

Template: Appino - Responsive App Landing Page
Author: iqonicthemes.in
Version: 1.0
Design and Developed by: iqonicthemes.in

NOTE: You can use your styling layout by this file to your website.

*/

.pricing-tabs>li>a>img
{
	max-width: 80% !important;
}

.pricing-tabs>li{
	width:12% !important;
}

.mol-price
{
	 font-size: 3rem;
	 color: #00338d;
}

.mol-year
{
	 font-size: 2.05rem;
	 color: #00338d;
}
.normal-value-tag{
 /* background: no-repeat #f2eded;*/
  background-size: 90px;
}
.best-value-tag{
  background: url('../images/membership/best-value-tag.png') top right no-repeat #f2eded;
  background-size: 90px;
}


.comparison-table {
  width: 100%;
  color: #333;
  font-size: 16px;
  border-spacing: 0;
  border-collapse: collapse;
  line-height: 20px;
}

.comparison-table h2,
.comparison-table h3 {
  margin: 0 0 -4px !important;
}

.comparison-table h3 {
  text-align: center !important;
}

.comparison-table .atom-btn-sml {
  float: none !important;
  margin-right: 0 !important;
}

.comparison-table thead th {
  vertical-align: top;
  text-align: center;
}

.comparison-table thead th h2 {
  color: #00338d;
}

.comparison-table thead span.mol-price{
  font-size: 24px;
  line-height: 50px;
}

.comparison-table thead span.mol-price::before {
  content: "$";
  font-size: 14px;
  line-height: 40px;
  vertical-align: top;
}



.comparison-table .best-value-ribbon {
  background: url("../images/membership/best-value-tag.png") top right no-repeat transparent;
  background-size: 75px;
}

.comparison-table .rv-option {
  margin: 12px 0 0 !important;
  text-align: center !important;
}

.comparison-table tbody th {
  padding: 12px 20px;
  text-align: left;
}

.comparison-table tr th {
  border-bottom: 1px solid #e6e6e6;
  padding: 12px;
}

.comparison-table tr td {
  width: 23%;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
  padding: 12px;
}

.comparison-table tr th:nth-child(1) {
  border-right: 1px solid #e6e6e6;
  font-weight: 400;
  text-align: left !important;
}

.comparison-table tr th:nth-child(3),
.comparison-table tr td:nth-child(3) {
  background-color: #f3eded;
}

.comparison-table .icon-check-regular {
  color: #65b32b;
  font-size: 20px;
}

.comparison-table sup {
  font-size: 10px;
  top: -0.6em;
}

.comparison-table tfoot {
  display: none;
}

.comparison-table tfoot td {
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  border-bottom: none;
}

.comparison-table tfoot td a {
  text-decoration: none;
}

.comparison-table tfoot .plan-arrow-prev {
  float: left;
}

.comparison-table tfoot .plan-arrow-next::after {
  font-family: 'caasco-icons';
  content: "\e809";
  line-height: 6px;
  margin-left: 5px;
}

.comparison-table tfoot .plan-arrow-next {
  float: right;
}

.comparison-table tfoot .plan-arrow-prev::before {
  font-family: 'caasco-icons';
  content: "\e904";
  line-height: 6px;
  margin-right: 5px;
}

.comparison-table tfoot .plan-arrow-next::after,
.comparison-table tfoot .plan-arrow-prev::before {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 0.7em;
}


/* Important part */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 550px;
    overflow-y: auto;
}


.overview-block-ptb
{
	
	    padding: 50px 0 !important;
}




.indiv-fleet img {
    width: 55px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.indiv-fleet .img-holder {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
}




.ola-fleet {
  padding: 60px 20px 0 0;
  width: 100%; }
  .ola-fleet .ola-fleet-options {
    padding: 25px 0 0 0;
    display: block;
    width: 100%;
    white-space: nowrap;
    position: relative;
    z-index: 2; }
  .ola-fleet .outstation-fleet .slick-list .slick-track {
    margin: initial; }
  .ola-fleet .rental-fleet .slick-list .slick-track {
    margin: initial; }
  .ola-fleet .indiv-fleet {
    text-align: center;
    margin-right: 25px;
    display: inline-block;
    vertical-align: top;
    padding-right: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: relative;
    cursor: pointer; }
    .ola-fleet .indiv-fleet .img-holder {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-bottom: 10px;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      overflow: hidden;
      -webkit-transition: all 0.15s ease;
      -moz-transition: all 0.15s ease;
      -o-transition: all 0.15s ease;
      -ms-transition: all 0.15s ease;
      transition: all 0.15s ease; }
    .ola-fleet .indiv-fleet img {
      width: 55px;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      transition: all 0.2s ease;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto; }
    .ola-fleet .indiv-fleet .ola-fleet-icon {
      opacity: 1; }
    .ola-fleet .indiv-fleet .ola-fleet-icon-active {
      opacity: 0;
      -webkit-animation: slide-front 5s forwards;
      -moz-animation: slide-front 5s forwards;
      -o-animation: slide-front 5s forwards;
      -ms-animation: slide-front 5s forwards;
      animation: slide-front 5s forwards; }
    .ola-fleet .indiv-fleet label {
      display: block;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.92);
      font-size: 18px;
      margin-bottom: 40px; }
    .ola-fleet .indiv-fleet:hover .img-holder {
      background: #CDDC39; }
    .ola-fleet .indiv-fleet:hover .ola-fleet-icon {
      opacity: 0; }
    .ola-fleet .indiv-fleet:hover .ola-fleet-icon-active {
      opacity: 1;
      -webkit-animation: slide-back 650ms forwards;
      -moz-animation: slide-back 650ms forwards;
      -o-animation: slide-back 650ms forwards;
      -ms-animation: slide-back 650ms forwards;
      animation: slide-back 650ms forwards; }
    .ola-fleet .indiv-fleet:focus {
      outline: none; }
    .ola-fleet .indiv-fleet .triangle-up {
      position: absolute;
      bottom: -21px;
      top: initial;
      left: 0;
      right: 0;
      margin: 0;
      z-index: 5;
      opacity: 0;
      display: none; }
      .ola-fleet .indiv-fleet .triangle-up img {
        width: 30px;
        display: block;
        position: static; }
  .ola-fleet .aw-fleet-active .img-holder {
    background: #CDDC39; }
  .ola-fleet .aw-fleet-active .ola-fleet-icon {
    opacity: 0; }
  .ola-fleet .aw-fleet-active .ola-fleet-icon-active {
    opacity: 1;
    -webkit-animation: slide-back 650ms forwards;
    -ms-animation: slide-back 650ms forwards;
    -o-animation: slide-back 650ms forwards;
    -moz-animation: slide-back 650ms forwards;
    animation: slide-back 650ms forwards; }
  .ola-fleet .aw-fleet-active .triangle-up {
    opacity: 1;
    display: block; }
  .ola-fleet .slick1-prev1 {
    position: absolute;
    left: -50px;
    font-size: 0;
    z-index: 2;
    cursor: pointer;
    top: 50%;
    border: 1px solid rgba(255, 255, 255, 0);
    width: 25px;
    height: 25px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url("../images/fleet/arrowhead-left.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
    .ola-fleet .prev-btn-nav:hover {
      opacity: 0.5; }
    .ola-fleet .prev-btn-nav:focus {
      outline: none; }
  .ola-fleet .next-btn-nav {
    position: absolute;
    right: -50px;
    font-size: 0;
    z-index: 2;
    cursor: pointer;
    top: 50%;
    border: 1px solid rgba(255, 255, 255, 0);
    width: 25px;
    height: 25px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url("../img/arrowhead-right.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
    .ola-fleet .next-btn-nav:hover {
      opacity: 0.5; }
    .ola-fleet .next-btn-nav:focus {
      outline: none; }
  .ola-fleet .slick-current .img-holder {
    background: #CDDC39 !important; }
  .ola-fleet .slick-current .ola-fleet-icon {
    opacity: 0; }
  .ola-fleet .slick-current .ola-fleet-icon-active {
    opacity: 1;
    -webkit-animation: slide-back 650ms forwards;
    -ms-animation: slide-back 650ms forwards;
    -o-animation: slide-back 650ms forwards;
    -moz-animation: slide-back 650ms forwards;
    animation: slide-back 650ms forwards; }
  .ola-fleet .slick-current .triangle-up {
    opacity: 1;
    display: block;
    position: static; }
